.contact{
    width: 100%;
    padding-top: 55px;
    &__row{
        display: flex;
        flex-wrap: wrap;
    }
    &__contactBox{
        max-width: 100%;
        flex: 0 0 100%;
    }
    &__mailbox{
        width: 50%;
        margin: 0 auto;
    }
    &__user{
        width: 100%;
        font-size: 16px;
        color: #2e2e2d;
        border: 0px;
        background-color: #efefef;
        padding: 11px 20px;
        border-radius: 40px;
        margin-top: 20px;
        @media (max-width: 768px){
            width: 100%;
           }
    }
    &__massage{
        width: 100%;
        color: #2e2e2d;
        font-size: 18px;
        background-color: #efefef;
        padding: 40px 20px 0px 20px;
        border: 0px;
        height: 110px;
        border-radius: 40px;
        margin-top: 20px;
        @media (max-width: 768px){
            width: 100%;
           }
    }
    &__send{
        text-align: center;
        margin: 0 auto;
        width: 170px;
        @media (max-width: 768px){
            width: 100%;
        }
    }
    &__sendBtn{
        width: 100%;
        text-align: center;
        font-size: 16px;
        color: #fefefd;
        background-color: #d07d6b;
        padding: 10px;
        text-transform: uppercase;
        margin-top: 20px;
        display: block;
        font-weight: bold;
        border-radius: 5px;
        transition: .5s;
    }
    &__sendBtn:hover{
        background-color: #3b3b3b;
    }
    &__map{
        width: 80%;
        margin: 0 auto;
    }
    &__mapDesc{
        width: 100%;
        margin-top: 90px;
        @media (max-width: 768px){
            display: none;
           }
    }
    &__mapMobile{
        margin-top: 20px;
        width: 100%;
        @media (min-width:769px) {
            display: none;
        }
    }

}