* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}

iframe {
  width: 100%;
}

.header {
  background-image: url("..//..//images/background/slide-bg.png");
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
@media (max-width: 768px) {
  .header {
    background-size: cover;
    background-position: 0%;
  }
}
.header__headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__userIcon {
  width: 15px;
}
.header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}
.header__navbarContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.header__navItem {
  text-transform: uppercase;
  font-size: 17px;
  color: #a9a8b0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media (max-width: 768px) {
  .header__navItem {
    display: none;
  }
}
.header__navItem:hover {
  color: #000000;
}
.header__navhamburger {
  width: 30px;
}
@media (min-width: 769px) {
  .header__navhamburger {
    display: none;
  }
}
.header__login {
  color: #d98473;
}
@media (max-width: 768px) {
  .header__intro {
    width: 100%;
    padding: 90px 10px 100px 10px;
  }
}
.header__introContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  .header__introContainer {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media (max-width: 768px) {
  .header__imgSlide {
    width: 100%;
  }
}
.header__descSlide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.header__h1 {
  font-size: 90px;
  font-weight: 800;
  width: 100%;
}
.header__h5 {
  color: #e38773;
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  text-transform: capitalize;
}
@media (max-width: 768px) {
  .header__h5 {
    color: #fefefd;
  }
}
.header__span {
  width: 100%;
  font-size: 16px;
  color: #4a4949;
}
.header__btnLeft {
  width: 40%;
  height: 57px;
  border-radius: 5px;
  font-size: 18px;
  padding: 12px;
  background-color: #d48272;
  color: #fefefd;
  border: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-transform: capitalize;
  cursor: pointer;
}
.header__btnLeft:hover {
  background-color: #4a4949;
}
.header__btnRight {
  width: 40%;
  height: 57px;
  border-radius: 5px;
  font-size: 18px;
  padding: 12px;
  background-color: #4a4949;
  color: #fefefd;
  border: none;
  text-transform: capitalize;
  cursor: pointer;
}

.section__h1 {
  width: 100%;
  text-align: center;
  font-size: 40px;
  color: #3b3b3b;
  text-transform: uppercase;
  margin-top: 50px;
}
.section__logoTitle {
  width: 100%;
  text-align: center;
}
.section__logoImg {
  max-width: 100%;
}
.section__groupCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
@media (max-width: 768px) {
  .section__groupCard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.section__card {
  width: 100%;
}
.section__cardImg {
  width: 100%;
  padding: 20px;
}
@media (max-width: 768px) {
  .section__cardImg {
    padding: 30px;
  }
}
.section__h3 {
  font-size: 22px;
  color: #3b3b3b;
  text-align: center;
  font-weight: bold;
  padding-top: 20px;
}
.section__p {
  font-size: 16px;
  color: #3b3b3b;
  text-align: center;
}
.section__btnGeneral {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
}
.section__btn {
  width: 100%;
  font-size: 16px;
  color: #d78373;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #d78373;
  text-transform: uppercase;
  padding: 8px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.section__btn:hover {
  border: 1px solid #3b3b3b;
  color: #3b3b3b;
}

.describe__h1 {
  width: 100%;
  text-align: center;
  font-size: 40px;
  color: #3b3b3b;
  text-transform: uppercase;
  margin-top: 50px;
}
.describe__logoTitle {
  width: 100%;
  text-align: center;
}
.describe__logoImg {
  max-width: 100%;
}

.section2 {
  padding-top: 40px;
}
.section2__motherDiv {
  width: 80%;
  max-width: 457px;
  margin: 0 auto;
}
.section2__imgdescribe {
  position: relative;
  width: 100%;
}
@media (max-width: 768px) {
  .section2__imgdescribe {
    position: static;
  }
}
.section2__imgdesc {
  width: 860px;
}
@media (min-width: 768px) {
  .section2__imgdesc {
    -webkit-transform: translate(-200px, 2px);
            transform: translate(-200px, 2px);
  }
}
@media (max-width: 768px) {
  .section2__imgdesc {
    width: 100%;
  }
}
.section2__textdesc {
  width: 500px;
  background-color: #ffffff;
  height: auto;
  padding: 40px 20px 30px 20px;
  -webkit-box-shadow: 0px 0px 30px 0px;
          box-shadow: 0px 0px 30px 0px;
  position: absolute;
  top: 1180px;
  left: 30px;
}
@media (max-width: 768px) {
  .section2__textdesc {
    position: static;
    width: 100%;
  }
}
.section2__h1 {
  font-size: 30px;
  color: #3b3b3b;
  text-transform: capitalize;
}
.section2__p {
  font-size: 16px;
  color: #232222;
}
.section2__descbtn {
  width: 170px;
  margin-top: 40px;
}
.section2__btn {
  font-size: 18px;
  width: 100%;
  color: #d78373;
  text-transform: uppercase;
  border: 1px solid #fc947f;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.section2__btn:hover {
  border: 1px solid #3b3b3b;
  color: #3b3b3b;
}

.customers {
  background-image: url("..//..//images/background/client-bg.png");
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  padding-bottom: 50px;
  margin-top: 80px;
}
@media (max-width: 768px) {
  .customers {
    background: rgba(208, 125, 107, 0.6);
    background-size: cover;
  }
}
.customers__titleDesc {
  width: 100%;
  text-align: center;
  font-size: 40px;
  color: #3b3b3b;
  text-transform: uppercase;
  margin-top: 40px;
  font-weight: bold;
}
.customers__logoTitle {
  width: 100%;
  text-align: center;
}
.customers__logoImg {
  max-width: 100%;
}
.customers__section2 {
  width: 100%;
}
.customers__desc {
  width: 100%;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 768px) {
  .customers__desc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.customers__leftSection {
  width: 20%;
  padding-left: 50px;
}
@media (max-width: 768px) {
  .customers__leftSection {
    padding-left: 20px;
  }
}
.customers__rightSection {
  width: 80%;
  padding-top: 20px;
}
@media (max-width: 768px) {
  .customers__rightSection {
    padding-left: 20px;
  }
}
.customers__img {
  width: 90%;
}
@media (max-width: 768px) {
  .customers__img {
    width: 174px;
  }
}
.customers__imgDesc {
  max-width: 100%;
  height: auto;
}
.customers__h3 {
  width: 100%;
  font-size: 24px;
  color: #3b3b3b;
  font-weight: bold;
  text-transform: capitalize;
}
.customers__p {
  width: 75%;
  font-size: 16px;
  color: #3b3b3b;
  margin: 0px;
}

.blog {
  width: 100%;
  padding-top: 60px;
}
@media (max-width: 768px) {
  .blog {
    padding-left: 10px;
  }
}
.blog__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 768px) {
  .blog__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.blog__left {
  max-width: 50%;
}
@media (min-width: 768px) {
  .blog__left {
    margin: 0 auto;
    max-width: 40%;
  }
}
@media (max-width: 768px) {
  .blog__left {
    max-width: 100%;
    overflow: hidden;
  }
}
.blog__right {
  max-width: 50%;
}
@media (min-width: 768px) {
  .blog__right {
    margin: 0 auto;
    max-width: 40%;
  }
}
@media (max-width: 768px) {
  .blog__right {
    max-width: 100%;
    margin-top: 40px;
    overflow: hidden;
  }
}
.blog__blogBox {
  width: 100%;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 20px 0px;
          box-shadow: 0px 0px 20px 0px;
  padding: 0px 0px 30px 0px;
  position: relative;
}
.blog__blogImg {
  width: 100%;
}
.blog__img {
  max-width: 100%;
  height: auto;
  width: 505px;
  height: 304px;
}
@media (max-width: 768px) {
  .blog__img {
    width: 400px;
    height: 265px;
  }
}
.blog__date {
  width: 100%;
  font-size: 18px;
  background-color: red;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0px;
  position: absolute;
  top: 0px;
  left: 0px;
}
@media (min-width: 768px) {
  .blog__date {
    width: 20%;
  }
}
@media (max-width: 768px) {
  .blog__date {
    top: 11px;
    left: -95px;
    -webkit-transform: rotate(320deg);
            transform: rotate(320deg);
    padding: 6px;
  }
}
.blog__title {
  width: 100%;
  font-size: 20px;
  color: #3b3b3b;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px 20px 10px 20px;
}
.blog__desc {
  width: 100%;
  font-size: 14px;
  color: #3b3b3b;
  margin: 0px;
  padding: 0px 20px;
}
.blog__blogBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
}
.blog__btn {
  width: 100%;
  font-size: 16px;
  color: #d78373;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #d78373;
  text-transform: uppercase;
  padding: 8px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.blog__btn:hover {
  border: 1px solid #3b3b3b;
  color: #3b3b3b;
}

.contact {
  width: 100%;
  padding-top: 55px;
}
.contact__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.contact__contactBox {
  max-width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
.contact__mailbox {
  width: 50%;
  margin: 0 auto;
}
.contact__user {
  width: 100%;
  font-size: 16px;
  color: #2e2e2d;
  border: 0px;
  background-color: #efefef;
  padding: 11px 20px;
  border-radius: 40px;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .contact__user {
    width: 100%;
  }
}
.contact__massage {
  width: 100%;
  color: #2e2e2d;
  font-size: 18px;
  background-color: #efefef;
  padding: 40px 20px 0px 20px;
  border: 0px;
  height: 110px;
  border-radius: 40px;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .contact__massage {
    width: 100%;
  }
}
.contact__send {
  text-align: center;
  margin: 0 auto;
  width: 170px;
}
@media (max-width: 768px) {
  .contact__send {
    width: 100%;
  }
}
.contact__sendBtn {
  width: 100%;
  text-align: center;
  font-size: 16px;
  color: #fefefd;
  background-color: #d07d6b;
  padding: 10px;
  text-transform: uppercase;
  margin-top: 20px;
  display: block;
  font-weight: bold;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.contact__sendBtn:hover {
  background-color: #3b3b3b;
}
.contact__map {
  width: 80%;
  margin: 0 auto;
}
.contact__mapDesc {
  width: 100%;
  margin-top: 90px;
}
@media (max-width: 768px) {
  .contact__mapDesc {
    display: none;
  }
}
.contact__mapMobile {
  margin-top: 20px;
  width: 100%;
}
@media (min-width: 769px) {
  .contact__mapMobile {
    display: none;
  }
}

.footer {
  background-image: url("..//..//images/background/footer-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 90px 0px 0px 0px;
  width: 100%;
  height: auto;
}
.footer__desc {
  max-width: 1140px;
  margin: 0 auto;
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer__footerBox {
  max-width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
.footer__address {
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: #fefefd;
  font-weight: bold;
  padding-bottom: 50px;
  text-transform: capitalize;
}
.footer__text {
  width: 60%;
  margin: 0 auto;
  color: #fefefd;
  text-align: center;
  font-size: 16px;
}
.footer__data {
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
  text-align: center;
}
.footer__ul {
  margin: 0;
  padding: 0;
}
.footer__li {
  color: #ffffff;
  font-size: 16px;
  padding: 0px 0px 5px 0px;
}
.footer__addressBtn {
  color: #ffffff;
}
.footer__addressImg {
  width: 13px;
}
.footer__addressNumber {
  padding-left: 10px;
}
.footer__addressMail {
  padding-left: 10px;
}
.footer__addressEmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.footer__email {
  width: 100%;
  color: #3b3b3b;
  height: 57px;
  padding: 20px 20px 0 20px;
  font-size: 18px;
  background-color: #efefef;
  margin: 0 auto;
  display: block;
  margin-top: 20px;
  border: 0px;
}
@media (max-width: 768px) {
  .footer__email {
    width: 300px;
  }
}
.footer__emailBtn {
  width: 70px;
  padding-top: 20px;
}
.footer__addressEmailBtn {
  width: 100%;
  color: #ffffff;
  font-size: 16px;
  padding: 13px 0 14px 0;
  background-color: #d07d6b;
  text-transform: uppercase;
  text-align: center;
}
.footer__emailBtnImg {
  max-width: 100%;
  height: auto;
}

.aboutHeader {
  background-image: url("..//..//images/background/header-bg.png");
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
@media (max-width: 768px) {
  .aboutHeader {
    background-size: cover;
    background-position: 0%;
  }
}
.aboutHeader__headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.aboutHeader__userIcon {
  width: 15px;
}
.aboutHeader__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}
.aboutHeader__navbarContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.aboutHeader__navItem {
  text-transform: uppercase;
  font-size: 17px;
}
@media (max-width: 768px) {
  .aboutHeader__navItem {
    display: none;
  }
}
.aboutHeader__navhamburger {
  width: 30px;
}
@media (min-width: 769px) {
  .aboutHeader__navhamburger {
    display: none;
  }
}

.about {
  padding-top: 40px;
}
.about__motherDiv {
  width: 80%;
  max-width: 457px;
  margin: 0 auto;
}
.about__imgdescribe {
  position: relative;
  width: 100%;
}
@media (max-width: 768px) {
  .about__imgdescribe {
    position: static;
  }
}
.about__imgdesc {
  width: 860px;
}
@media (min-width: 768px) {
  .about__imgdesc {
    -webkit-transform: translate(-200px, 2px);
            transform: translate(-200px, 2px);
  }
}
@media (max-width: 768px) {
  .about__imgdesc {
    width: 100%;
    -webkit-transform: translate(0, 2px);
            transform: translate(0, 2px);
  }
}
.about__textdesc {
  width: 500px;
  background-color: #ffffff;
  height: auto;
  padding: 40px 20px 30px 20px;
  -webkit-box-shadow: 0px 0px 30px 0px;
          box-shadow: 0px 0px 30px 0px;
  position: absolute;
  top: 270px;
  left: 30px;
}
@media (max-width: 768px) {
  .about__textdesc {
    position: static;
    width: 100%;
  }
}
.about__h1 {
  font-size: 30px;
  color: #3b3b3b;
  text-transform: capitalize;
}
.about__p {
  font-size: 16px;
  color: #232222;
}
.about__descbtn {
  width: 170px;
  margin-top: 40px;
}
.about__btn {
  font-size: 18px;
  width: 100%;
  color: #d78373;
  text-transform: uppercase;
  border: 1px solid #fc947f;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.about__btn:hover {
  border: 1px solid #3b3b3b;
  color: #3b3b3b;
}

.aboutFooter {
  background-image: url("..//..//images/background/footer-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 90px 0px 0px 0px;
  width: 100%;
  height: auto;
  margin-top: 50px;
}
.aboutFooter__desc {
  max-width: 1140px;
  margin: 0 auto;
}
.aboutFooter__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.aboutFooter__footerBox {
  max-width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
.aboutFooter__address {
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: #fefefd;
  font-weight: bold;
  padding-bottom: 50px;
  text-transform: capitalize;
}
.aboutFooter__text {
  width: 60%;
  margin: 0 auto;
  color: #fefefd;
  text-align: center;
  font-size: 16px;
}
.aboutFooter__data {
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
  text-align: center;
}
.aboutFooter__ul {
  margin: 0;
  padding: 0;
}
.aboutFooter__li {
  color: #ffffff;
  font-size: 16px;
  padding: 0px 0px 5px 0px;
}
.aboutFooter__addressBtn {
  color: #ffffff;
}
.aboutFooter__addressImg {
  width: 13px;
}
.aboutFooter__addressNumber {
  padding-left: 10px;
}
.aboutFooter__addressMail {
  padding-left: 10px;
}
.aboutFooter__addressEmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.aboutFooter__email {
  width: 100%;
  color: #3b3b3b;
  height: 57px;
  padding: 20px 20px 0 20px;
  font-size: 18px;
  background-color: #efefef;
  margin: 0 auto;
  display: block;
  margin-top: 20px;
  border: 0px;
}
@media (max-width: 768px) {
  .aboutFooter__email {
    width: 300px;
  }
}
.aboutFooter__emailBtn {
  width: 70px;
  padding-top: 20px;
}
.aboutFooter__addressEmailBtn {
  width: 100%;
  color: #ffffff;
  font-size: 16px;
  padding: 13px 0 14px 0;
  background-color: #d07d6b;
  text-transform: uppercase;
  text-align: center;
}
.aboutFooter__emailBtnImg {
  max-width: 100%;
  height: auto;
}

.menuHeader {
  background-image: url("..//..//images/background/header-bg.png");
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
@media (max-width: 768px) {
  .menuHeader {
    background-size: cover;
    background-position: 0%;
  }
}
.menuHeader__headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menuHeader__userIcon {
  width: 15px;
}
.menuHeader__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}
.menuHeader__navbarContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.menuHeader__navItem {
  text-transform: uppercase;
  font-size: 17px;
}
@media (max-width: 768px) {
  .menuHeader__navItem {
    display: none;
  }
}
.menuHeader__navhamburger {
  width: 30px;
}
@media (min-width: 769px) {
  .menuHeader__navhamburger {
    display: none;
  }
}

.menu__h1 {
  width: 100%;
  text-align: center;
  font-size: 40px;
  color: #3b3b3b;
  text-transform: uppercase;
  margin-top: 50px;
}
.menu__logoTitle {
  width: 100%;
  text-align: center;
}
.menu__logoImg {
  max-width: 100%;
}
.menu__groupCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
@media (max-width: 768px) {
  .menu__groupCard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.menu__card {
  width: 100%;
}
.menu__cardImg {
  width: 100%;
  padding: 20px;
}
@media (max-width: 768px) {
  .menu__cardImg {
    padding: 30px;
  }
}
.menu__h3 {
  font-size: 22px;
  color: #3b3b3b;
  text-align: center;
  font-weight: bold;
  padding-top: 20px;
}
.menu__p {
  font-size: 16px;
  color: #3b3b3b;
  text-align: center;
}
.menu__btnGeneral {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
}
.menu__btn {
  width: 100%;
  font-size: 16px;
  color: #d78373;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #d78373;
  text-transform: uppercase;
  padding: 8px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.menu__btn:hover {
  border: 1px solid #3b3b3b;
  color: #3b3b3b;
}

.menuFooter {
  background-image: url("..//..//images/background/footer-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 90px 0px 0px 0px;
  width: 100%;
  height: auto;
  margin-top: 50px;
}
.menuFooter__desc {
  max-width: 1140px;
  margin: 0 auto;
}
.menuFooter__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.menuFooter__footerBox {
  max-width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
.menuFooter__address {
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: #fefefd;
  font-weight: bold;
  padding-bottom: 50px;
  text-transform: capitalize;
}
.menuFooter__text {
  width: 60%;
  margin: 0 auto;
  color: #fefefd;
  text-align: center;
  font-size: 16px;
}
.menuFooter__data {
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
  text-align: center;
}
.menuFooter__ul {
  margin: 0;
  padding: 0;
}
.menuFooter__li {
  color: #ffffff;
  font-size: 16px;
  padding: 0px 0px 5px 0px;
}
.menuFooter__addressBtn {
  color: #ffffff;
}
.menuFooter__addressImg {
  width: 13px;
}
.menuFooter__addressNumber {
  padding-left: 10px;
}
.menuFooter__addressMail {
  padding-left: 10px;
}
.menuFooter__addressEmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.menuFooter__email {
  width: 100%;
  color: #3b3b3b;
  height: 57px;
  padding: 20px 20px 0 20px;
  font-size: 18px;
  background-color: #efefef;
  margin: 0 auto;
  display: block;
  margin-top: 20px;
  border: 0px;
}
@media (max-width: 768px) {
  .menuFooter__email {
    width: 300px;
  }
}
.menuFooter__emailBtn {
  width: 70px;
  padding-top: 20px;
}
.menuFooter__addressEmailBtn {
  width: 100%;
  color: #ffffff;
  font-size: 16px;
  padding: 13px 0 14px 0;
  background-color: #d07d6b;
  text-transform: uppercase;
  text-align: center;
}
.menuFooter__emailBtnImg {
  max-width: 100%;
  height: auto;
}

.blogHeader {
  background-image: url("..//..//images/background/header-bg.png");
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
@media (max-width: 768px) {
  .blogHeader {
    background-size: cover;
    background-position: 0%;
  }
}
.blogHeader__headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.blogHeader__userIcon {
  width: 15px;
}
.blogHeader__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}
.blogHeader__navbarContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.blogHeader__navItem {
  text-transform: uppercase;
  font-size: 17px;
}
@media (max-width: 768px) {
  .blogHeader__navItem {
    display: none;
  }
}
.blogHeader__navhamburger {
  width: 30px;
}
@media (min-width: 769px) {
  .blogHeader__navhamburger {
    display: none;
  }
}

.blogFooter {
  background-image: url("..//..//images/background/footer-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 90px 0px 0px 0px;
  width: 100%;
  height: auto;
  margin-top: 50px;
}
.blogFooter__desc {
  max-width: 1140px;
  margin: 0 auto;
}
.blogFooter__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.blogFooter__footerBox {
  max-width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
.blogFooter__address {
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: #fefefd;
  font-weight: bold;
  padding-bottom: 50px;
  text-transform: capitalize;
}
.blogFooter__text {
  width: 60%;
  margin: 0 auto;
  color: #fefefd;
  text-align: center;
  font-size: 16px;
}
.blogFooter__data {
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
  text-align: center;
}
.blogFooter__ul {
  margin: 0;
  padding: 0;
}
.blogFooter__li {
  color: #ffffff;
  font-size: 16px;
  padding: 0px 0px 5px 0px;
}
.blogFooter__addressBtn {
  color: #ffffff;
}
.blogFooter__addressImg {
  width: 13px;
}
.blogFooter__addressNumber {
  padding-left: 10px;
}
.blogFooter__addressMail {
  padding-left: 10px;
}
.blogFooter__addressEmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.blogFooter__email {
  width: 100%;
  color: #3b3b3b;
  height: 57px;
  padding: 20px 20px 0 20px;
  font-size: 18px;
  background-color: #efefef;
  margin: 0 auto;
  display: block;
  margin-top: 20px;
  border: 0px;
}
@media (max-width: 768px) {
  .blogFooter__email {
    width: 300px;
  }
}
.blogFooter__emailBtn {
  width: 70px;
  padding-top: 20px;
}
.blogFooter__addressEmailBtn {
  width: 100%;
  color: #ffffff;
  font-size: 16px;
  padding: 13px 0 14px 0;
  background-color: #d07d6b;
  text-transform: uppercase;
  text-align: center;
}
.blogFooter__emailBtnImg {
  max-width: 100%;
  height: auto;
}

.contactHeader {
  background-image: url("..//..//images/background/header-bg.png");
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
@media (max-width: 768px) {
  .contactHeader {
    background-size: cover;
    background-position: 0%;
  }
}
.contactHeader__headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contactHeader__userIcon {
  width: 15px;
}
.contactHeader__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}
.contactHeader__navbarContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.contactHeader__navItem {
  text-transform: uppercase;
  font-size: 17px;
}
@media (max-width: 768px) {
  .contactHeader__navItem {
    display: none;
  }
}
.contactHeader__navhamburger {
  width: 30px;
}
@media (min-width: 769px) {
  .contactHeader__navhamburger {
    display: none;
  }
}

.contactFooter {
  background-image: url("..//..//images/background/footer-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 90px 0px 0px 0px;
  width: 100%;
  height: auto;
  margin-top: 50px;
}
.contactFooter__desc {
  max-width: 1140px;
  margin: 0 auto;
}
.contactFooter__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.contactFooter__footerBox {
  max-width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
.contactFooter__address {
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: #fefefd;
  font-weight: bold;
  padding-bottom: 50px;
  text-transform: capitalize;
}
.contactFooter__text {
  width: 60%;
  margin: 0 auto;
  color: #fefefd;
  text-align: center;
  font-size: 16px;
}
.contactFooter__data {
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
  text-align: center;
}
.contactFooter__ul {
  margin: 0;
  padding: 0;
}
.contactFooter__li {
  color: #ffffff;
  font-size: 16px;
  padding: 0px 0px 5px 0px;
}
.contactFooter__addressBtn {
  color: #ffffff;
}
.contactFooter__addressImg {
  width: 13px;
}
.contactFooter__addressNumber {
  padding-left: 10px;
}
.contactFooter__addressMail {
  padding-left: 10px;
}
.contactFooter__addressEmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.contactFooter__email {
  width: 100%;
  color: #3b3b3b;
  height: 57px;
  padding: 20px 20px 0 20px;
  font-size: 18px;
  background-color: #efefef;
  margin: 0 auto;
  display: block;
  margin-top: 20px;
  border: 0px;
}
@media (max-width: 768px) {
  .contactFooter__email {
    width: 300px;
  }
}
.contactFooter__emailBtn {
  width: 70px;
  padding-top: 20px;
}
.contactFooter__addressEmailBtn {
  width: 100%;
  color: #ffffff;
  font-size: 16px;
  padding: 13px 0 14px 0;
  background-color: #d07d6b;
  text-transform: uppercase;
  text-align: center;
}
.contactFooter__emailBtnImg {
  max-width: 100%;
  height: auto;
}/*# sourceMappingURL=main.css.map */