//colors
$bg-main: black;
$bg-secondary: #fcfcfc;
$bg-primary: rgba(104, 255, 104, 0.637);
$bg-accent: aliceblue;
$bg-darc: #333333;

//width
$wd-sm: 500px;
$wd-md: 1280px;
$wd-lg: 2000px;

//spacing
$spc-10:2px;
$spc-11:4px;
$spc-12:8px;
$spc-13:12px;
$spc-14:16px;
$spc-15:20px;

//fontWeight
$light: 100;
$medium: 500;
$bold: 900;